<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Új járat</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="form">
        <p class="form_title">Új járat bevezetése</p><hr>
        <form id="admin_form" action="/admin_adat_feltoltve" method="POST">
            <label for="honnan" class="form_text">Honnan:</label><br>
            <input type="text" id="honnan" name="honnan" pattern="^[a-zA-Z]+(?:[\s-][\ ][a-zA-Z]+)*$" required><br>
            <label for="hova" class="form_text">Hova:</label><br>
            <input type="text" id="hova" name="hova" pattern="^[a-zA-Z]+(?:[\s-][\ ][a-zA-Z]+)*$" required><br>
            <label for="datum" class="form_text">Dátum:</label><br>
            <input type="date" id="datum" name="datum" placeholder="dd-mm-yyyy" min="2000-11-14" max="2035-11-14" required><br>
            <label for="nap" class="form_text">Nap:</label><br>
            <select id="nap" name="nap" required>
                <option></option>
                <option value="hetfo">Hétfő</option>
                <option value="kedd">Kedd</option>
                <option value="szerda">Szerda</option>
                <option value="csutortok">Csütörtök</option>
                <option value="pentek">Péntek</option>
            </select><br>
            <label for="ora" class="form_text">Idő:</label><br>
            <input type="time" id="ora" name="ora" required><br>
            <label for="jegyar" class="form_text">Ár:</label><br>
            <input type="text" id="jegyar" name="jegyar" pattern="^[0-9]*$" required><br>
            <label for="vonattipus" class="form_text">Vonat tipusa:</label><br>
            <select id="vonattipus" name="vonattipus" required>
                <option></option>
                <option value="gyors">Gyors</option>
                <option value="regionalis">Regionális</option>
                <option value="szemely">Személy</option>
            </select><br>
            <label for="orszagok" class="form_text">Utazás tipusa:</label><br>
            <select id="orszagok" name="orszagok" required>
                <option>
                </option>
                <option value="belfoldi">Belföldi</option>
                <option value="nemzetkozi">Nemzetközi</option>
            </select><br><br>
            <button type="submit" class="zoom">Feltöltés</button>
            <p class="error"><%= errorStr %></p>
        </form>
    </div>
</body>
</html>