<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <title>Járat törlése</title>
</head>
<body>
    <%- include('../views/login_logout.ejs') %>
    <div>
    <form action="/" method="GET" class="form">
        <p class="form_title"><%= message %><p><br>
        <button class="zoom a-btn" type="submit">Vissza</button>
    </form>
    </div>
</body>
</html>