<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Járatok</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/myFunctions.js"></script>
</head>
<body>
    <%- include('../views/login_logout.ejs') %>
    <div class="listing text-center">
        <label class="form_title">Vásároljon vonatjegyet online!</label>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <form action="keres_belfoldi" method="GET">
                    <button class="zoom" type="submit">Belföldi utazás</button>
                </form>
            </div>
            <div class="col-sm-4 text-center">
                <form action="keres_minden" method="GET">
                    <button class="zoom" type="submit">Összes járat</button>
                </form>
            </div>
            <div class="col-sm-4 text-center">
                <form action="keres_nemzetkozi" method="GET">
                    <button class="zoom" type="submit">Nemzetközi utazás</button>
                </form>
            </div>
        </div>
    </div>
    <div class="form top-margin">
        <p class="form_title">Járatok keresése</p><hr>
        <form id="vendeg_keres" action="vendeg_sikeres_kerese" method="GET">
            <label for="honnan" class="form_text">Honnan:</label><br>
            <input type="text" id="honnan" name="honnan" pattern="^[a-zA-Z]+(?:[\s- ][a-zA-Z]+)*$" required><br>
            <label for="hova" class="form_text">Hova:</label><br>
            <input type="text" id="hova" name="hova" pattern="^[a-zA-Z]+(?:[\s- ][a-zA-Z]+)*$" required><br>
            <label for="datum" class="form_text">Dátum:</label><br>
            <input type="date" name="datum" id="datum" placeholder="dd-mm-yyyy" min="2000-11-14" max="2035-11-14" required><br>
            <label for="minar" class="form_text">Minimum ár:</label><br>
            <input type="text" id="minar" name="minar" pattern="^[0-9]*$" required><br>
            <label for="maxar" class="form_text">Maximum ár:</label><br>
            <input type="text" id="maxar" name="maxar" pattern="^[0-9]*$" required><br>
            <button type="submit" class="zoom">Keresés</button>
            <p class="error"> <%= errorStr %></p>
        </form>
    </div><br>
    <div class="">
        <div class="listing">
            <h2 class="form_font">Járatok</h2><hr>
            <% jaratok.forEach((jarat) => { %>
            <div id="route_information_<%= jarat.JaratID %>" onclick="routeClicked(`<%= jarat.JaratID %>`)" class=" justify-between d-flex div-on-hover round">
                <div class="route-info form_font"> 
                    <h3>
                        <%= jarat.JaratID %>. <%= jarat.honnan %> - <%= jarat.hova %>
                    </h3>
                    <p class="">
                        <strong>Időpont: </strong>    
                        <%= jarat.nap %>, <%= jarat.ido %><br> 
                        <strong>Dátum: </strong>
                        <% let str = jarat.datum + '' %>
                        <% let parts = str.split(" ")%>
                        <%= parts[1]%>
                        <%= parts[2]%>
                        <%= parts[3]%>
                    </p>
                    <div id="rout_extraInfo_<%= jarat.JaratID %>" class="route-info form_font"></div>
                </div> 
                <% if(payload.username) {%> 
                <div class=" d-block">
                    <div class="v-align">
                        <div class="zoom top-margin like-button"><a class="a-default" href='/details/<%= jarat.JaratID  %>' >Összes foglalás</a></div>
                    </div>
                    <% if(payload.userrang === 1) {%>
                    <div class="v-align"><a class="" href='/delete/<%=jarat.JaratID  %>'><button class="zoom">Törlés</button></a></div>  
                    <% } %>   
                </div>
                <% } %>
            </div>
            <hr>
            <% }); %>
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>