<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginFail</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="listing d-block">
        <p class="error">Hibás felhasználónév/jelszó!</p>
    </div>
</body>
</html>