<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/myFunctions.js"></script>
</head>
<body>
    <div class="heather container">
        <% if( !payload.username ) { %>
        <div class="login-block popup">
                <button id="loginbutton" onclick="loginWindow()" class="float-right">Login</button>
                <div class="popuptext" id="myPopup">
                    <div>
                        <form id="loginform" action="/auth/login" method="POST">
                            <label for="username" class="form_text">Felhasználónév:</label><br>
                            <input type="text" id="username" name="username" required><br>
                            <label for="password" class="form_text">Jelszó:</label><br>
                            <input type="password" id="password" name="password" required><br>
                            <button type="submit" class="zoom">   Login   </button><br>
                            <label class="form_text">Még nem regisztrált? Itt megteheti!</label>
                            <div class="zoom like-button"><a class="a-default" href='/register' >Regisztráció</a></div>
                        </form>
                    </div>
                </div>
        </div>
        <%} else {%>
        <div class="d-flex flex-row align-items-center">
                <div class="p-2">
                    <form action="userpage" method="GET">
                        <button class="zoom form_font a-btn" tyep="submit"><%= payload.username %></button>
                    </form>
                </div>
                <div class="p-2">
                    <form action="/auth/logout" method="POST" >
                        <button id="logoutbutton" type="submit" class="zoom a-btn">Logout</button>
                    </form>
                </div>
            <% if(payload.userrang === 1) { %>
                <div class="p-2" ><a class="a-default like-button zoom" href='/admin' >Új járat hozzáadása</a></div>
            <% } %>
        </div>
        <% }%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>