<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regisztráció</title>
    <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="form">
        <p class="form_title">Regisztráció</p><hr>
        <form id="register_form" action="/register_done" method="POST">
            <label for="username" class="form_text">Felhasználónév:</label><br>
            <input type="text" id="username" name="username" pattern="[a-zA-Z0-9_]*$" required><br>
            <label for="email" class="form_text">E-mail cim:</label><br>
            <input type="text" id=email name=email pattern="/[A-Za-z0-9\._-]*+@(gmail|yahoo)+.com/" required><br>
            <label for="jelszo_elso" class="form_text">Jelszó:</label><br>
            <input type="password" id="jelszo_elso" name="jelszo_elso" pattern="[a-zA-Z0-9]*$"><br>
            <label for="jelszo_masodik" class="form_text">Jelszó ismét:</label><br>
            <input type="password" id="jelszo_masodik" name="jelszo_masodik"><br>
            <button type="submit" class="zoom">Regisztráció</button>
            <p class="error"><%= errorStr %></p>
        </form>
    </div>
</body>
</html>