<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foglalások</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/myFunctions.js"></script>
</head>
<body>
    <%- include('../views/login_logout.ejs') %>
    <div class="container listing text-center">
        <label class="form_title">Foglalás</label>
    </div>
    <div class="container">
        <div class="d-flex flex-row align-items-center">
            <div class="p-2">
                <form action="/" method="GET">
                    <button type="submit" class="zoom a-btn">Vissza</button>
                </form>
            </div>
            <div class="p-2">
                <form id="user_foglal" action="<%= id %>" method="POST">
                    <button type="submit" class="zoom a-btn">Gyors foglalás</button>
                </form>
            </div>
            <div class="p-2">
                <div class="popup">
                    <button type="submit" class="zoom a-btn" onclick="loginWindow()">Csoportos foglalás</button>
                    <div class="popuptext" id="myPopup">
                        <form id="csoport_foglal" action="group/<%= id %>" method="POST">
                            <label for="felnottek" class="form_text">Felnőttek száma:</label><br>
                            <input type="text" name="felnottek" id="felnottek" pattern="^[0-9]*$" required><br>
                            <label for="gyerekek" class="form_text">Gyerekek száma:</label><br>
                            <input type="text" name="gyerekek" id="gyerekek" pattern="^[0-9]*$" required><br>
                            <button type="submit" class="zoom a-btn">Foglalás</button>
                            <%= errorStr %>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="listing container form_font">
        <% let str = jaratinfo[0].datum + '' %>
        <% let parts = str.split(" ")%>
        <h2 class="form_text"><%= jaratinfo[0].honnan %> - <%= jaratinfo[0].hova %> - <%= parts[1]%> <%= parts[2]%> <%= parts[3]%> . Járathoz tartozó foglalások</h2><hr>
        <% foglalasok.forEach((foglalas, i) => { %>
            <% if (payload.userid === foglalas.UserID || payload.userrang === 1) {%>
            <div id="res_<%= foglalas.FoglalasID %>" class="d-flex justify-between reservation-container">
                <p><%= i + 1 %>.foglalás: Ár: <%= ar[0].ar %> RON</p>
                <% if (payload.userid === foglalas.UserID) { %>
                <button id="deleteRes_<%= foglalas.FoglalasID %>" class="zoom a-btn" onclick="deleteReservation(`<%= foglalas.FoglalasID %>`, event)">Törlés</button>
                <% } %>
            </div>
            <% } %>
        <% }); %>

        <% csoportfoglalasok.forEach((csfoglalas, i) => { %>
            <% if (payload.userid === csfoglalas.UserID || payload.userrang === 1) {%>
            <div id="res_<%= csfoglalas.CsoportosFoglalasID %>" class="d-flex justify-between reservation-container">
                <% const csar = (ar[0].ar - (ar[0].ar / 10) * csfoglalas.FelnottSzam + (ar[0].ar - ((5 * ar[0].ar) / 10)) * csfoglalas.GyerekSzam) %>
                <p>
                    <%= i + 1 %>. csoportos foglalás: 
                    Ár: <%= csar %> RON | 
                    Felnőttek: <%= csfoglalas.FelnottSzam %> | 
                    Gyerekek: <%= csfoglalas.GyerekSzam %>
                </p>
                <% if (payload.userid === csfoglalas.UserID) { %>
                <button id="deleteRes_<%= csfoglalas.CsoportosFoglalasID %>" class="zoom a-btn" onclick="deleteGReservation(`<%= csfoglalas.CsoportosFoglalasID %>`, event)">Törlés</button>
                <% } %>
            </div>
            <% } %>
        <% }); %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>