<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet" type="text/css">
    <script src="/myFunctions.js"></script>
</head>
<body>
    <%- include('../views/login_logout.ejs') %>
    <div class="listing text-center">
        <label class="form_title">Hello, <%= payload.username %></label>
    </div>
    <div class="listing container form_font">
        <h2 class="form_text">Az Ön foglalásai</h2><hr>
        <% foglalasok.forEach((foglalas, i) => { %>
            <div id="res_<%= foglalas.FoglalasID %>" class="d-flex justify-between reservation-container div-on-hover" onclick="userResClicked(`<%= foglalas.JaratID %>`, `<%= foglalas.FoglalasID %>`)">
                <p><%= i + 1 %>.foglalás: ID: <%= foglalas.JaratID %> </p>
                <div id="resextra_<%= foglalas.FoglalasID %>" class="form_font"></div>
                <% if (payload.userid === foglalas.UserID) { %>
                <button id="deleteRes_<%= foglalas.FoglalasID %>" class="zoom a-btn" onclick="deleteReservation(`<%= foglalas.FoglalasID %>`, event)">Törlés</button>
                <% } %>
            </div>
        <% }); %>
        <% csoportfoglalasok.forEach((csfoglalas, i) => { %>
            <div id="resg_<%= csfoglalas.CsoportosFoglalasID %>" class="d-flex justify-between reservation-container div-on-hover" onclick="userGroupResClicked(`<%= csfoglalas.JaratID %>`, `<%= csfoglalas.CsoportosFoglalasID %>`)">
                <p>
                    <%= i + 1 %>. csoportos foglalás: 
                    Felnőttek: <%= csfoglalas.FelnottSzam %> | 
                    Gyerekek: <%= csfoglalas.GyerekSzam %>
                </p>
                <div id="resgextra_<%= csfoglalas.CsoportosFoglalasID %>" class="form_font"></div>
                <% if (payload.userid === csfoglalas.UserID) { %>
                <button id="deleteRes_<%= csfoglalas.CsoportosFoglalasID %>" class="zoom a-btn" onclick="deleteGReservation(`<%= csfoglalas.CsoportosFoglalasID %>`, event)">Törlés</button>
                <% } %>
            </div>
        <% }); %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>