body {
    background-image: url("../trainbackground.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}

.form {
    background-color: #bcedf3;
    margin: auto;
    width: 220px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 10px 0 20px 0 gray;
}

.listing {
    background-color: #bcedf3;
    width: 70%;
    padding: 10px;
    border-radius: 12px;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 10px 0 20px 0 gray;
    margin-bottom: 5px;
}

button, .a-btn {
    background-color: #bcedf3;
    border-color: #bcedf3;
    font-size: 18px;
    border-radius: 12px;
    color: #46724b;
    font-family: "Lucida Console", "Courier New", monospace;
}

.round {
    border-radius: 12px;
}

.like-button {
    border-radius: 12px;
    font-size: 18px;
    font-family: "Lucida Console", "Courier New", monospace;
    border-color: #bcedf3;
}

.form_font {
    font-family: "Lucida Console", "Courier New", monospace;
}

.form_title {
    color: #46724b;
    font-size: 18px;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    vertical-align: middle;
}

.form_text {
    color: #46724b;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
}

.zoom {
    padding: 10px 16px;
    background-color: #bcedf3;
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(0.9);
}

.inline {
    display: inline-block;
}

.floating {
    float: right;
}

.error {
    color: red;
    font-family: "Lucida Console", "Courier New", monospace;
}

.test-border {
    border: 2px solid black;
}

.center-horizontally {
    display: flex;
    justify-content: center;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.div-on-hover:hover {
    background-color: #88C693;
}

.d-block {
    display: block;
    text-align: center;
}

.v-align {
    display: flex;
    align-items: center;
}

.top-margin {
    margin-top: 4rem;
}

.a-btn:hover {
    transform: scale(0.9);  
}

.a-default {
    text-decoration: none;
    color: #46724b;
}

.route-info {
    padding: 5px;
}

.hide {
    visibility: hidden;
}

.reservation-container {
    border-bottom: #616161  1px solid;
    margin-bottom: 5px;
    border-radius: 12px;
}

.login-block {
    margin-top: 5px;
    float:right;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #bcedf3;
    color: #46724b;
    text-align: center;
    border-radius: 12px;
    padding: 10px 0;
    bottom: 125%;
    left: 50%;
    margin-left: 15px;
    margin-right: 25px;
    margin-top: 35px;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.logout-div {
    width: 20%;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 10px 0 20px 0 gray;
}

.heather {
    background-color:#547AA5;
    height: 107px;
    border-radius: 12px;
    box-shadow: 10px 0 20px 0 gray;
    margin-bottom: 5px;
}

.float-right {
    float: right;
}


